:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --main-text-weight: 400;
  --title-text-weight: 700;
  --page-bg-color: #fff;
  --card-bg-color: #fff;
  --accent-color: #000;
  --button-text-color: #fff;
  --label-stroke-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #f00;
  --page-bg-image:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --content-width: clamp(23.4375rem, 48.6111vw, 43.75rem);
  --header-logo-size: clamp(3.0625rem, 8vw, 4.0625rem);
  --header-title-size: clamp(0.875rem, 2vw, 1.4375rem);
}
